<!-- templates/todo_list/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .sidebar {
            width: 200px;
            background: white;
            padding: 20px;
            height: 100vh;
            position: fixed;
        }

        .content {
            margin-left: 220px;
            flex: 1;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="sidebar">
    <ul class="sidebar-nav list-group">
        <li class="list-group-item">
            <a href="{% url 'todo_list:home' %}">Home</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'todo_list:tag-list' %}">Tags</a>
        </li>
    </ul>
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
